<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/main.css" rel="stylesheet" />
    <title>Welcome!</title>
</head>
<body>
<form>
    <div>
        <a href="http://localhost:8080/menu">Search for a person</a>
    </div>
    <div>
        <a href="http://localhost:8080/persons">Expose all persons in the database</a>
    </div>
    <div>
        <a href="http://localhost:8080/update">Update attributes for a person</a>
    </div>
    <div>
        <a href="http://localhost:8080/delete">Delete a person from the database</a>
    </div>
</form>






</body>
</html>